.container {
    display: flex;
    gap: 50px 20px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.node {
    width: 250px;
    height: 270px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    flex-basis: 32%;
    
}