.container {
    display: flex;
    height: 100%;
    gap: 50px 20px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.nodeChild {
    width: 250px;
    height: 270px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 400;
    position: relative;

    .one {
        z-index: 1;
        position: absolute;
        border-top: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_one;
        animation: 1s linear 0s infinite alternate move_one;
    }

    .two {
        z-index: 1;
        position: absolute;
        border-right: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_two;
        animation: 1s linear 0s infinite alternate move_two;
    }

    .three {
        z-index: 1;
        position: absolute;
        border-bottom: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_three;
        animation: 1s linear 0s infinite alternate move_three;
    }

    .four {
        z-index: 1;
        position: absolute;
        border-left: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_four;
        animation: 1s linear 0s infinite alternate move_four;
    }

    .five {
        position: absolute;
        z-index: 1;
        border-top: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_five;
        animation: 1s linear 0s infinite alternate move_five;

    }

    .six {
        position: absolute;
        z-index: 1;
        border-right: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_six;
        animation: 1s linear 0s infinite alternate move_six;

    }

    .seven {
        position: absolute;
        z-index: 1;
        border-bottom: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_seven;
        animation: 1s linear 0s infinite alternate move_seven;

    }

    .eight {
        z-index: 1;
        position: absolute;
        border-left: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_eight;
        animation: 1s linear 0s infinite alternate move_eight;

    }
}


.leafChild {
    height: 80px;
    width: 100%;
    max-width: 250px;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;

    .one {
        z-index: 1;
        position: absolute;
        border-top: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_one_leaf;
        animation: 1s linear 0s infinite alternate move_one_leaf;
    }

    .two {
        z-index: 1;
        position: absolute;
        border-right: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_two_leaf;
        animation: 1s linear 0s infinite alternate move_two_leaf;
    }

    .three {
        z-index: 1;
        position: absolute;
        border-bottom: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_three_leaf;
        animation: 1s linear 0s infinite alternate move_three_leaf;
    }

    .four {
        z-index: 1;
        position: absolute;
        border-left: 2px solid var(--color-border);

        -webkit-animation: 1s linear 0s infinite alternate move_four_leaf;
        animation: 1s linear 0s infinite alternate move_four_leaf;
    }
}


.leafChild:nth-child(7n+1),
.leafChild:nth-child(7n+2),
.leafChild:nth-child(7n+3),
.leafChild:nth-child(7n+4) {
    flex-basis: 24%;
    display: flex;
    justify-content: center;
}

.leafChild:nth-child(7n+5),
.leafChild:nth-child(7n+6),
.leafChild:nth-child(7n+7)
{
    display: flex;
    justify-content: center;
    flex-basis: 32%;
}

@keyframes move_one {
    from {
        top: 0px;
        right: -3px;
        left: -10px;
    }
    to {
        top: 0px;
        right: -11px;
        left: -2px;
    }
}

@keyframes move_two {
    from {
        top: -5px;
        bottom: -11px;
        right: 0px;
    }
    to {
        top: -12px;
        bottom: -3px;
        right: 0px;
    }
}

@keyframes move_three {
    from {
        left: -12px;
        right: -6px;
        bottom: 0px;
    } to {
        left: -4px;
        right: -14px;
        bottom: 0px;
    }
}

@keyframes move_four {
    from {
        top: -10px;
        bottom: -5px;
        left: 0px;
    }
    to {
        top: -2px;
        bottom: -12px;
        left: 0px;
    }
}

@keyframes move_five {
    from {
        top: -8px;
        left: -12px;
        right: -20px;
    } to {
        top: -8px;
        left: -22px;
        right: -10px;
    }
}

@keyframes move_six {
    from {
        top: -20px;
        bottom: -12px;
        right: -8px;
    } to {
        top: -10px;
        bottom: -22px;
        right: -8px;
    } 
}

@keyframes move_seven {
    from {
        bottom: -8px;
        left: -12px;
        right: -20px;
    } to {
        bottom: -8px;
        left: -22px;
        right: -10px;
    } 
}

@keyframes move_eight {
    from {
        left: -8px;
        top: -22px;
        bottom: -10px;
    } to {
        left: -8px;
        top: -12px;
        bottom: -20px;
    } 
}

@keyframes move_one_leaf {
    from {
        top: 0px;
        right: 5px;
        left: -2px;
    }
    to {
        top: 0px;
        right: -2px;
        left: -3px;
    }
}

@keyframes move_two_leaf {
    from {
        top: -2px;
        bottom: -3px;
        right: 0px;
    }
    to {
        top: -3px;
        bottom: -2px;
        right: 0px;
    }
}

@keyframes move_three_leaf {
    from {
        left: -2px;
        right: -3px;
        bottom: 0px;
    } to {
        left: -3px;
        right: -2px;
        bottom: 0px;
    }
}

@keyframes move_four_leaf {
    from {
        top: -3px;
        bottom: -2px;
        left: 0px;
    }
    to {
        top: -2px;
        bottom: -3px;
        left: 0px;
    }
}