@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-bg: #1424b6;
  --color-bg-variant:  #081268;
  --color-sidebar-bg: #25255b;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77,181,255,0.84);
  --color-white: #fff;
  --color-light: rgba(255,255,255,0.6)
}

html {

}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
}