@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Inknut+Antiqua:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color-bg: #F5F2E9;
  --color-primary: #4469EF;
  --color-primary-variant: #5268AC;
  --color-text: #000;
  --color-border: #D3A241;
  --color-error: red;
}

html {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  margin: 0;
  line-height: 24px;
  min-height: 100vh;
  max-width: 100vw;
  height: 100vh;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}
