#root {
    height: 100%;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    height: 100%
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background: var(--color-bg-variant);
    height: 150px;
    min-height: 150px;
    align-items: center;
    padding: 0 10% 0 2%;
    border-bottom: 2px solid var(--color-border);
  }
  
  .title {
    font-size: 4rem;
    font-family: 'Inknut Antiqua', 'sans-serif';
    text-align: center;
    color: var(--color-primary-variant)
  }
  
  .logo, .logobutton {
    width: 32px;
    height: 32px;
  }

  .logobutton {
    background-color: var(--color-bg-variant);
    background:  no-repeat center center / contain url("../public/logo.png");
    transform: scale(2);
    border: none;
  }

  .logobutton:hover {
    cursor:pointer;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .content {
    height: 100%;
  }

  .visitButton {
    border: 2px solid var(--color-border);
    color: var(--color-primary);
    padding: 15px;
    font-size: 1.05rem;
  }

  .visitButton:hover {
    background-clip: content-box;
    border-radius: 10px;
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  .footer {
    height: 100px;
  }

  @media only screen and (max-width: 650px) {
    .title {
        display: none;
        width: 0px;
    }

    .logo, .logobutton {
      margin-left: 20px;
    }
    
}