#root {
    height: 100%;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background: var(--color-bg-variant);
    height: 65px;
    align-items: center;
    padding: 8px;
  }
  
  .title {
    flex: 1 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .logo, .logobutton {
    width: 32px;
    height: 32px;
  }
  
  /* .logo a .logobutton {
    width: 32px;
    height: 32px;
  }
   */
  .logo {    
    margin-left: 12px;
  }

  .logobutton {
    background-color: var(--color-bg-variant);
    background:  no-repeat center center / contain url("../public/favicon.ico");
    border: none;
  }
  
  .main {
    flex: 1 0;
    height: 100%;
    display: flex;
  }
  
  .sidebar {
    width: 325px;
    flex: 0 1 20%;
    background: var(--color-sidebar-bg);
  }
  
  .content {
    flex: 1 0;
    width: auto;
    background-image: url("../public/bg-texture.png");
  }
  
  .test-mdx {
    font-size: 2rem;
    color: red;
  }


  .navBar {
    height: 100%;
    width: 120px;
    text-align: center;
  }

  .visitButton {
    background-color: var(--color-bg-variant);
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.05rem;
  }

  .visitButton:hover {
    background-color: #11114c8e;
    background-clip: content-box;
    border-radius: 10px;
    text-decoration: underline;
    text-underline-offset: 6px;
  }