.title {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0 2rem;
}

.paragraph {
    text-indent: 2rem;
    line-height: 1.5rem;
    font-size:1.125rem;
    text-rendering: optimizeLegibility;
    padding: 0 0 1rem 0;
}