.card {
    max-width: 250px;
    color: var(--color-primary-variant);
    text-decoration: none;
    max-height: 270px;
    width: 250px;
    height: 100%;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center; 
}