.card {
    max-width: 250px;
    color: white;
    text-decoration: none;
    max-height: 270px;
    width: 250px;
    height: 270px;
    background-color: #1e11ae;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: ridge white 1px;
}